name: CI/CD Pipeline con DevSecOps

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar pruebas
        run: npm test

  docker-build:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Build de la imagen Docker
        run: |
          docker build -t mi-app-devsecops .

  sonar-analysis:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Instalar Java 17 (Requerido por SonarQube)
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Exportar Java 17 como variable de entorno
        run: echo "JAVA_HOME=/opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/17.0.*/x64" >> $GITHUB_ENV

      - name: Verificar versión de Java después de la instalación
        run: java -version

      - name: Instalar SonarQube Scanner
        run: |
          wget -O sonar-scanner-cli.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.8.0.2856-linux.zip
          unzip sonar-scanner-cli.zip
          sudo mv sonar-scanner-4.8.0.2856-linux /opt/sonar-scanner
          sudo ln -s /opt/sonar-scanner/bin/sonar-scanner /usr/local/bin/sonar-scanner

      - name: Analizar código con SonarQube
        run: |
          export JAVA_HOME=$(which java)
          sonar-scanner \
            -Dsonar.projectKey=devsecops-pipeline \
            -Dsonar.organization=crisdecku \
            -Dsonar.sources=. \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
